<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap core CSS -->
    <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
    <title>Pic-Bed</title>
  </head>
  <body>

    {{ template "include/topnav.html" .}}
  
    <div class="container-fluid">
        <div class="row">
          {{ template "include/sidernav.html" .SiderNavs }}
  
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

              <div class="album py-5 bg-light" id="album">
                  <div class="container">
          
                    <div class="row">
        
                      {{ template "include/content.html" .}}

                      <div class="col-md-2">
                          <div class="card mb-3 box-shadow">
                            <img class="card-img-top" src="/static/2018/3/7/7f1bd86824b5894309bbf1f40edec793_thumbnail.jpg" alt="Card image cap">
                            <div class="card-body">
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-light">View</button>
                                </div>
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-danger">Delete</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
        
        
                        <div class="col-md-2">
                            <div class="card mb-3 box-shadow">
                              <img class="card-img-top" src="/static/2018/3/7/7f1bd86824b5894309bbf1f40edec793_thumbnail.jpg" alt="Card image cap">
                              <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                  <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-light">View</button>
                                  </div>
                                  <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-danger">Delete</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
        
                          <div class="col-md-2">
                              <div class="card mb-3 box-shadow">
                                <img class="card-img-top" src="/static/2018/3/7/7f1bd86824b5894309bbf1f40edec793_thumbnail.jpg" alt="Card image cap">
                                <div class="card-body">
                                  <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-sm btn-light">View</button>
                                    </div>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-sm btn-danger">Delete</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
        
        
                            <div class="col-md-2">
                                <div class="card mb-3 box-shadow">
                                  <img class="card-img-top" src="/static/2018/3/7/7f1bd86824b5894309bbf1f40edec793_thumbnail.jpg" alt="Card image cap">
                                  <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center">
                                      <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-light">View</button>
                                      </div>
                                      <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-danger">Delete</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
        
        
                              <div class="col-md-2">
                                  <div class="card mb-3 box-shadow">
                                    <img class="card-img-top" src="/static/2018/3/7/7f1bd86824b5894309bbf1f40edec793_thumbnail.jpg" alt="Card image cap">
                                    <div class="card-body">
                                      <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                          <button type="button" class="btn btn-sm btn-light">View</button>
                                        </div>
                                        <div class="btn-group">
                                          <button type="button" class="btn btn-sm btn-danger">Delete</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
        
        
                                <div class="col-md-2">
                                    <div class="card mb-3 box-shadow">
                                      <img class="card-img-top" src="/static/2018/3/7/7f1bd86824b5894309bbf1f40edec793_thumbnail.jpg" alt="Card image cap">
                                      <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                          <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-light">View</button>
                                          </div>
                                          <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-danger">Delete</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
        
        
        
                    </div>
                  </div>
                </div>
        

          </main>
        </div>
      </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/dist/js/jquery-slim.min.js"></script>
    <script src="/static/dist/js/popper.min.js"></script>
    <script src="/static/dist/js/bootstrap.min.js"></script>
    <script src="/static/js/index.js"></script>
  </body>
</html>